version: "3.9"
services:
  nginx: 
    image: "jbabeau/capstone_nginx:1"
    ports:
      - "8080:81"
    networks: 
      - myNetwork
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
  mysql:
    image: mysql/mysql-server:latest
    ports:
      - "3002:3306"
    volumes:
      - ./data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=hello
      - MYSQL_ROOT_HOST=0.0.0.0/0
    networks: 
      - myNetwork
    restart: always
  backend:
    image: "jbabeau/capstone_backend:1"
    ports:
     - "3000:3000"
    networks: 
      - myNetwork
    restart: always
  webserver:
    image: "jbabeau/capstone_webserver:1"
    ports:
     - "5000:5000"
    networks: 
      - myNetwork
    restart: always

networks:
  myNetwork:
#    name: myNetwork